body{
    margin: 0px;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header{
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px 0px;
    text-align: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar{
    background-color: cornflowerblue;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: blueviolet;
}
.contact-container {
    display:flex;
    justify-content: space-around;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-info, .contact-form {
    flex: 1;
    margin: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{ 
    background-color: #3b82f6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

button:hover {
    background-color: #2563eb;
}