.test{
    font-size: 100px;
    color: palevioletred;
    background-color: lightpink;
    padding: 20px;
    margin-top: 100PX;
    border: 1PX solid black;
    text-align: center;
    transition: 1s ease;
    transform: scale(0.9);
}
test2{
    display: none;
}
